<!--
<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="${jdbc.driverClassName}" />
        <beans:property name="url" value="${jdbc.url}" />
        <beans:property name="username" value="${jdbc.username}" />
        <beans:property name="password" value="${jdbc.password}" />
    </beans:bean>

    <beans:bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />

    <beans:bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <beans:property name="database" value="ORACLE" />
        <beans:property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" />
    </beans:bean>

    <beans:bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <beans:property name="packagesToScan" value="jp.test.spring.entity" />
        <beans:property name="dataSource" ref="dataSource" />
        <beans:property name="jpaDialect" ref="jpaDialect" />
        <beans:property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
    </beans:bean>

    <beans:bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <beans:property name="entityManagerFactory" ref="entityManagerFactory" />
    </beans:bean>
-->

<!-- EntityManagerFactoryの設定 -->
<!--
<bean id = "entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	<property name="dataSource" ref="dataSource" />
	<property name="persistenceProviderClass" value="org.hibernate.jpa.HibernatePersistenceProvider" />
	<property name="packagesToScan" value ="sample.entity"/>

	<property name="jpaProperties">
		<props>
			<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
			<prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
	 	</props>
	</property>
</bean>

-->

<!-- JPA Repositoryの設定 -->
<!--
<jpa:repositories base-package="test" />
-->
<!-- TransactionManager -->
<!--
<bean id="transactionManager"class="org.springframework.orm.jpa.JpaTransactionManager">


</bean>
-->