<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>signup</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
	type="text/javascript"></script>
<script type="text/javascript">
 $( function() {
        $( '#register' ) .click(
        function() {
        	var hostUrl= 'main/java/com/example/Main.java';
	        var Custid   = document.getElementById("custid").value;   //テキストエリアの値を取得
	        var Custname = document.getElementById("custname").value; //テキストエリアの値を取得
	        var Orgname  = document.getElementById("orgname").value;  //テキストエリアの値を取得
	        var Passord = document.getElementById("password").value;  //テキストエリアの値を取得

			$.ajax({
                url: hostUrl,
                type:'POST',
                dataType: 'json',
                data : {parameter1 : Custid, parameter2 : Custname, parameter3 : Orgname, parameter4 : Password }
            })
   		 });
    } );
</script>
</head>

<body>
	<form name="signup_form" action="signup.html" method="post">
		<label for="custid">ID</label> <br> <br> <input type="text"
			name="custid" id="custid"> <br> </br> <label for="custname">ユーザー名</label>
		<br> <br> <input type="text" name="custname" id="custname">
		<br> </br> <label for="orgname">組織名</label> <br> <br> <input
			type="text" name="orgname" id="orgname"> <br> </br> <label
			for="password">Password</label> <br> <br> <input
			type="password" name="password" id="password"> <br> <br>
		<input type="button" id=register value="登録"">

	</form>
</body>
</html>