<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>signup</title>
<script type="text/javascript">
    function signup(action,method){
        var custid   = document.getElementById("custid").value;   //テキストエリアの値を取得
        var custname = document.getElementById("custname").value; //テキストエリアの値を取得
        var orgname  = document.getElementById("orgname").value;  //テキストエリアの値を取得
        var password = document.getElementById("password").value; //テキストエリアの値を取得
        var form = document.createElement("form");

    }
</script>
</head>

<body>
<form name="signup_form" action="signup.html" method="post">
 <label for="custid">ID</label>
 <br><br>
 <input type="text" name="custid" value = "${f:h(custid)}">
<br>
</br>

<label for="custname">ユーザー名</label>
 <br><br>
 <input type="text" name="custname" id="custname">
<br>
</br>

<label for="orgname">組織名</label>
 <br><br>
 <input type="text" name="orgname" id="orgname">
<br>
</br>

<label for="password">Password</label>
 <br><br>
 <input type="password" name="password" id="password">
<br><br>

<input type="button" value="登録" onclick="signup()">

</form>
</body>
</html>