<html>
<head>
<meta charset="UTF-8" />
<title>sign up</title>
</head>
<body>
<h1>sign up</h1>

       <input type="number" id="no" name="no" />


       <input type="text" id="custid" name="custid" />


       <input type="text" id="custname" name="custname" />


       <input type="text" id="orgname" name="orgname" />


       <input type="password" id="password" name="password" />


       <input type="text" id="role" name="role" />


       <input type="text" id="reserve" name="reserve" />

       <input type="submit" value="登録" />


</body>
</html>